@tailwind base;
@tailwind components;
@tailwind utilities;

/* reset nhẹ để nhìn giống UI hiện đại */
html,
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color: #f5f5f5;
}

@media print {
  body * {
    visibility: hidden;
  }

  .print-area,
  .print-area * {
    visibility: visible;
  }

  .print-area {
    position: absolute;
    inset: 0;
  }

  button {
    display: none;
  }
}

